{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <div class="card">
      <div class="card-header text-white bg-success">
        <h2>{{title}}</h2>
      </div>
      <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="templeSelect" class="form-label">Select Temple</label>
            <select name="temple_id" id="templeSelect" class="form-select" required>
              <option value="" disabled selected>-- Select Temple --</option>
              {% for temple in temples %}
                <option value="{{ temple.id }}">{{ temple.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="candleImage" class="form-label">Candle Image</label>
            <input name="candle_name" type="file" class="form-control" id="candleImage" accept="image/*" required>
          </div>
          <button type="submit" class="btn btn-outline-success"><i class="bi bi-check2-all"></i> Add Candle</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}