{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{title}}</h1>
    <a href="{{url_for('new_candle')}}" class="btn btn-outline-primary"><i class="bi bi-file-earmark-plus"></i> New Candle</a>
    <br>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Candle Image</th>
          <th scope="col">Temple Name</th>
          
        </tr>
      </thead>
      <tbody>
        {% for candle in candles %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>
              <img class="img-thumbnail" width="100" src="{{url_for('static', filename='images/'+candle.name)}}" alt="">
              </td>
            <td>
              {{candle.temple.name}}
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
